/* FONT */
@font-face {
    font-family: 'Mediametrie';
    src: url('./font/Mediametrie.otf') format("opentype"),
    url('./font/Mediametrie.ttf') format("truetype"),
    url('./font/Mediametrie.eot') format("embedded-opentype"),
    url('./font/Mediametrie.svg') format("svg"),
    url('./font/Mediametrie.woff') format("woff");
}

/* CSS */
* {
    font-family: 'Mediametrie', sans-serif;
}

body {
    background: url("assets/background.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.centrer {
    text-align: center;
}

#logo_calendrier {
    margin-top: 2vw;
    width: 14vw;
}

#sous-titre {
    margin: 2vw;
    font-size: 1vw;
}

.case {
    height: auto;
    transition: transform .2s;
}

.case:hover {
    cursor: pointer;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* POPUP */
.popup {
    display: none;
    position: absolute;
    z-index: 2;
    width: 50vw;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#message {
    position: relative;
    width: 50vw;
    height: auto;
}

#photo_cadeau {
    position: absolute;
    width: auto;
    height: 20vh;
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
}

#texte_photo {
    font-family: Mediametrie, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

#fermer {
    position: absolute;
    width: 1.5vw;
    right: 0;
    top: 0;
}

/* CALENDRIER DESKTOP */
.calendrier-mobile {
    display: none;
}

/* LIGNE 1 */
.case13 {
    width: 5.75vw;
}

.case6 {
    width: 6vw;
}

.case22 {
    width: 7.7vw;
}

.case7 {
    width: 5vw;
}

.case16 {
    width: 7vw;
}

.case8 {
    width: 4vw;
}

.case23 {
    width: 10vw;
}

/* LIGNE 2 */
.case21 {
    width: 7vw;
    margin-top: .35vw;
}

.case14 {
    width: 8vw;
    margin-top: -1.5vw;
}

.case5 {
    width: 5vw;
    margin-top: -1.5vw;
}

.case25 {
    width: 12vw;
    margin-top: -3vw;
}

.case1 {
    width: 7vw;
    margin-top: 0vw;
}

.case20 {
    width: 7vw;
    margin-top: 0vw;
}

/* LIGNE 3 */
.case2 {
    width: 11.5vw;
    margin-top: -1vw;
}

.case18 {
    width: 6.51vw;
    margin-top: -1vw;
}

.case9 {
    width: 7vw;
    margin-top: -3.5vw;
}

.case19 {
    width: 7vw;
    margin-top: -3.75vw;
}

.case12 {
    width: 8vw;
    margin-top: .5vw;
}

.case3 {
    width: 6vw;
    margin-top: .75vw;
}

/* LIGNE 4 */
.case24 {
    width: 7vw;
    margin-top: -1vw;
}

.case4 {
    width: 9.3vw;
    margin-top: -1vw;
}

.case11 {
    width: 4.75vw;
    margin-top: -1.5vw;
}

.case15 {
    width: 10vw;
    margin-top: 0.5vw;
}

.case10 {
    width: 9vw;
    margin-top: -2.75vw;
}

.case17 {
    width: 6vw;
    margin-top: -.5vw;
}

/* CALENDRIER TABLETTE */
@media screen and (max-width: 800px) and (min-width: 451px) {
    body {

    }

    #logo_calendrier {
        margin-top: 6vw;
        width: 30vw;
    }

    #son_on, #son_off {
        width: 4vw;
        top: 2vw;
        right: 2vw;
    }

    #mention_legales a  {
        font-size:2vw;
    }

    #sous-titre {
        font-size: 3vw;
        margin: 6vw 10vw;
    }

    /* LIGNE 1 */
    .case13 {
        width: 10vw;
    }

    .case6 {
        width: 10vw;
    }

    .case22 {
        width: 11.7vw;
    }

    .case7 {
        width: 9vw;
    }

    .case16 {
        width: 11vw;
    }

    .case8 {
        width: 8vw;
    }

    .case23 {
        width: 13.75vw;
    }

    /* LIGNE 2 */
    .case21 {
        width: 11vw;
        margin-top: -1vw;
    }

    .case14 {
        width: 12vw;
        margin-top: -4.5vw;
    }

    .case5 {
        width: 9vw;
        margin-top: -5vw;
    }

    .case25 {
        width: 20.5vw;
        margin-top: -6vw;
    }

    .case1 {
        width: 8.5vw;
        margin-top: 1vw;
    }

    .case20 {
        width: 14vw;
        margin-top: -4.5vw;
    }

    /* LIGNE 3 */
    .case2 {
        width: 17vw;
        margin-top: -2vw;
    }

    .case18 {
        width: 10.51vw;
        margin-top: -3vw;
    }

    .case9 {
        width: 11vw;
        margin-top: -5.5vw;
    }

    .case19 {
        width: 13vw;
        margin-top: -5.75vw;
    }

    .case12 {
        width: 12vw;
        margin-top: .5vw;
    }

    .case3 {
        width:12vw;
        margin-top: .75vw;
    }

    /* LIGNE 4 */
    .case24 {
        width: 13vw;
        margin-top: -3vw;
    }

    .case4 {
        width: 16vw;
        margin-top: -2vw;
    }

    .case11 {
        width: 8vw;
        margin-top: -2.5vw;
    }

    .case15 {
        width: 18vw;
        margin-top: 0.5vw;
    }

    .case10 {
        width: 11vw;
        margin-top: -.5vw;
    }

    .case17 {
        width: 9vw;
        margin-top: 1vw;
    }
}

/* CALENDRIER MOBILE */
@media screen and (max-width: 450px) {
    body {
    }

    #logo_calendrier {
        margin-top: 6vw;
        width: 50vw;
    }

    #son_on, #son_off {
        width: 5vw;
        top: 2vw;
        right: 2vw;
    }

    #mention_legales {
        font-size: 3vw;
    }

    #sous-titre {
    font-size: 4vw;
    margin: 6vw 10vw;
    }

    .calendrier {
        display: none;
    }

    .calendrier-mobile {
        display: block;

    }

    /* LIGNE 1 */
    .case13 {
        width: 13vw;
    }

    .case6 {
        width: 12vw;
    }

    .case22 {
        width: 13.7vw;
    }

    .case7 {
        width: 11vw;
    }

    .case16 {
        width: 16.5vw;
    }

    /* LIGNE 2 */
    .case21 {
        width: 14vw;
        margin-top: 1vw;
    }

    .case14 {
        width: 15.5vw;
        margin-top: -4.5vw;
    }

    .case5 {
        width: 12vw;
        margin-top: -5.75vw;
    }

    .case25 {
        width: 27vw;
        margin-top: -6vw;
    }

    /* LIGNE 3 */
    .case2 {
        width: 22vw;
        margin-top: -1vw;
    }

    .case18 {
        width: 12.1vw;
        margin-top: -3vw;
    }

    .case9 {
        width: 16vw;
        margin-top: -5vw;
    }

    .case19 {
        width: 18vw;
        margin-top: -5vw;
    }

    /* LIGNE 4 */
    .case24 {
        width: 20vw;
        margin-top: -10vw;

    }

    .case4 {
        width: 20vw;
        margin-top: -4vw;

    }

    .case11 {
        width: 14vw;
        margin-top: -10vw;
    }

    .case15 {
        width: 14vw;
        margin-top: -10vw;

    }

    /* LIGNE 5 */
    .case8 {
        width: 12vw;
        margin-top: -5vw;
    }

    .case1 {
        width: 18vw;
        margin-top: -4vw;
    }

    .case23 {
        width: 25vw;
        margin-top: -3vw;
    }
    .case17 {
        width: 14vw;
        margin-top: -3vw;
    }

    /* LIGNE 6 */
    .case12 {
        width: 17vw;
        margin-top: -3vw;
    }

    .case3 {
        width: 18vw;
        margin-top: -4.5vw;
    }

    .case10 {
        width: 20vw;
        margin-top: -6vw;
    }
    .case20 {
        width: 13vw;
        margin-top: -3vw;
    }

    .popup {
        display: none;
        position: absolute;
        z-index: 2;
        width: auto;
        height: 25vh;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #message {
        height: 25vh;
        width: auto;
        position: relative;
    }

    #photo_cadeau {
        position: absolute;
        width: auto;
        height: 8vh;
        left: 50%;
        transform: translateX(-50%);
        top: 47%;
    }

    #texte_photo {
        font-weight: bold;
        font-size: 2vw;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
    }

    #fermer {
        width: 4vw;
    }
}

/* GESTION DU SON */
.son_off {
    position: absolute;
    width: 1.75vw;
    height: auto;
    top: 1vw;
    right: 1vw;
}

.son_on {
    display: none;
    position: absolute;
    width: 2.25vw;
    height: auto;
    top: 1vw;
    right: 1vw;
}

.son_off:hover, .son_on:hover {
    cursor: pointer;
}

/* MENTIONS LEGALES */
#mention_legales {
    color: #416900;
    font-size:1vw;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.25vw;
}

#mention_legales a {
    color: #416900;
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
}
